@model Personnage

@{
    ViewData["Title"] = "Create";
}

<h2>Création d'un personnage</h2>

<div class="row">
    <div class="col-md-4">

    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
