
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-3">
        <a asp-controller="Sorts">
            @*<img src="~/images/spellbook-640.png" class="embed-responsive-4by3">*@
        </a>
    </div>
</div>