@{ ViewData["Title"] = "Index"; }

<h2>Welcome choose your topic...</h2>
<div class="row">
    <div class="col-sm-10  col-md-5 col-lg-5 ">
        <a class="btn btn-block btn-light border rounded" asp-controller="Sorts">
            <img class="w-100" alt="Sorts" src="~/images/spellbook-640.png" class="embed-responsive-4by3">
        </a>
    </div>
    <div class="col-sm-10 col-md-5  col-lg-5">
        <a class="btn btn-block btn-light border rounded" asp-controller="Personnages">
            <img class="w-100" alt="Personnages" src="" class="embed-responsive-4by3">
        </a>
    </div>
</div>